<div class="container">
    <form action="" name="mainForm">
        <p>Bad words: <span></span></p>
        <input type="text" name="wordHer" class="wordHer" placeholder="Word here...">
        <input type="button" name="add" class="button add" value="Add">
        <input type="button" name="reset" class="button reset" value="Reset"><br>
        <textarea name="textArea" class="textArea" id="" cols="30" rows="5"
            placeholder="Text here..."></textarea><br>
        <input type="button" name="cenzor" class="cenzorButton" value="Cenzor">
    </form>
</div>